<section class="order about">
  <div class="container">
    <div class="order-text" id="order" style="max-width: 100%">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio eos et facilis illum ipsum,
        laboriosam molestias nostrum nulla omnis optio porro, praesentium quos reiciendis, repellat sequi sunt
        voluptatem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio eos et facilis illum ipsum,
        laboriosam molestias nostrum nulla omnis optio porro, praesentium quos reiciendis, repellat sequi sunt
        voluptatem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio eos et facilis illum ipsum,
        laboriosam molestias nostrum nulla omnis optio porro, praesentium quos reiciendis, repellat sequi sunt
        voluptatem?
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>

<app-popup data="about component"></app-popup>
