.main {
  margin: 132px 0 81px;
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .container .main-info {
  max-width: 622px;
}

.main .container .main-info h1 {
  font-size: 45px;
  font-family: MullerExtraBold, sans-serif;
  line-height: 1.222;
}

.main .container .main-info .main-advantages {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .container .main-info .main-advantages .advantage {
  max-width: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}

.main .container .main-info .main-advantages .advantage .advantage-text {
  margin-left: 16px;
}

.main .container .main-info .main-advantages .advantage .advantage-text .advantage-title {
  font-size: 16px;
  font-family: MullerExtraBold, sans-serif;
  color: #ffaf18;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main .container .main-info .main-advantages .advantage .advantage-text .advantage-description {
  font-size: 16px;
  color: #b99150;
}

.main .container .main-info .main-action {
  margin-top: 60px;
}

.double-title {
  color: #b99150;
}

.double-title span {
  color: #ffaf18;
}

.products {
  padding: 80px 0 120px;
}

.products .products-title {
  font-size: 35px;
  font-family: MullerBold, sans-serif;
  color: #bd985c;
  text-align: center;
}

.products .products-items {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order {
  padding: 120px 0 115px;
  overflow: hidden;
}

.order .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order .container .order-text {
  max-width: 384px;
}

.order .container .order-text .order-text-title {
  font-size: 35px;
  font-family: MullerExtraBold, sans-serif;
  line-height: 1.286;
  margin-bottom: 65px;
}

.order .container .order-text .order-text-message {
  font-size: 16px;
  color: #b99150;
  line-height: 1.5;
}

.order .container .order-form {
  margin-left: 122px;
  max-width: 330px;
}

.order .container .order-image {
  width: 282px;
  position: relative;
  margin-left: 78px;
}

.order .container .order-image img {
  position: absolute;
  bottom: -35px;
  left: 0;
}

.order .btn {
  width: 330px;
}

.order-input {
  border: 1px solid #b99150;
  background-color: #ffffff;
  width: 330px;
  font-size: 18px;
  color: #866c3b;
  padding: 23px 22px 24px;
  margin-bottom: 24px;
  box-sizing: border-box;
  height: 60px;
  outline: none;
}

.order-input::placeholder {
  color: #cba86e;
}

.hvr-sweep-to-right:before {
  background: #705732;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.parallax-window {
  min-height: 600px;
  background: transparent;
}

@media screen and (max-width: 1229px) {
  .main-image {
    width: 400px;
  }
  .main-image img {
    max-width: 100%;
  }
  .products .products-items {
    justify-content: center;
  }
  .order-form {
    margin-left: 45px;
  }
  .order .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .main {
    margin-top: 70px;
  }
  .main .container {
    flex-direction: column-reverse;
  }
  .main-info h1 {
    text-align: center;
    margin-top: 40px;
  }
  .main-action {
    text-align: center;
  }
  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .order {
    padding-top: 60px;
    position: relative;
  }
  .order-image {
    position: absolute;
    z-index: -1;
    right: calc(50% - 400px);
  }
  .order-image img {
    position: relative;
  }
  .order .container {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .cart {
    margin-left: 20px;
  }
  .main-info h1 {
    line-height: 45px;
  }
  .main-advantages {
    margin-left: auto;
    margin-right: auto;
  }
  .order .container {
    flex-direction: column;
    align-items: center;
  }
  .order-text-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .order-text-message {
    text-align: center;
    margin-bottom: 25px;
  }
  .order-form {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 656px) {
  .main-advantages {
    max-width: 306px;
  }
}

@media screen and (max-width: 424px) {
  .main-image {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .main-info h1 {
    font-size: 38px;
  }
  .order-form {
    text-align: center;
  }
  .order-input {
    width: 290px;
  }
  .order .btn {
    width: 290px;
  }
}
